<ion-content class="map-container">

    <google-map></google-map>


    <div id="add-place-panel" class="list" ng-show="addFormOpen">

        <label class="item item-input item-select">
            <div class="input-label">
                What is it?
            </div>
            <select>
                <option>Drinking Fountain</option>
                <option selected>Restroom</option>
                <option>Power Outlet</option>
            </select>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <input type="text" ng-model="pressPlace.description" placeholder="The drinking fountain is inside the ...">
        </label>


        <button class="button button-full button-balanced" ng-click="commitPlaceToServer()">Save</button>

        <button class="button button-full button-dark" ng-click="closeForm()">Cancel</button>

    </div>

</ion-content>