<ion-content class="map-container">

    <google-map class="place-edit-map"></google-map>


    <div id="add-place-panel" class="list">

        <label class="item item-input item-select">
            <div class="input-label">
                What is it?
            </div>
            <select ng-model="pressPlace.type" 
                    ng-options="key as value for (key, value) in types">
            </select>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Description</span>
            <input type="text" ng-model="pressPlace.description" placeholder="Offers assistance with ...">
        </label>


        <button class="button button-full button-balanced" ng-click="commitPlaceToServer()">Save</button>

        <button class="button button-full button-dark" ng-click="closeForm()">Cancel</button>

    </div>

</ion-content>