
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map-container .scroll {
  height: 100%;
}

#add-place-panel {
    position: absolute;
    top: 250px;
    width: 100%;
}
