
img.intro-screen {
    margin: 60px auto 40px auto !important;
    width: 170px;
}

.swiper-slide {
    text-align: center;
    height: 100%;
}

.pointer {
    position: absolute;
    left: 50%;
    top: 140px;
    height: 80px !important;
}
