<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">


    <link href="css/ionic.app.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="cordova.js"></script>

    <script src="js/modules.js"></script>
    <script src="js/app.js"></script>

    <script src="js/controllers/add-location-controller.js"></script>

    <script src="js/services/config.js"></script>

    <script src="js/services/dropin-service.js"></script>
    <script src="js/services/google-maps-loader.js"></script>

    <script src="js/directives/google-map-directive.js"></script>

</head>

<body ng-app="dropin">

    <ion-pane ng-controller="AddLocationController">

        <ion-content class="map-container">

            <google-map></google-map>


            <div id="add-location-panel" class="list" ng-show="addFormOpen">

                <label class="item item-input item-select">
                    <div class="input-label">
                        What is it?
                    </div>
                    <select>
                        <option>Drinking Fountain</option>
                        <option selected>Restroom</option>
                        <option>Power Outlet</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <input type="text" ng-model="pressLocation.description" placeholder="The drinking fountain is inside the ...">
                </label>


                <button class="button button-full button-balanced" ng-click="commitLocationToServer()">Save</button>

                <button class="button button-full button-dark" ng-click="closeForm()">Cancel</button>

            </div>

        </ion-content>
    </ion-pane>
</body>

</html>